body {
    font: 400, 15px;
    line-height: 1.8;
    font-family: 'Quicksand', sans-serif;
}

h1 {
	font-size: 50px;
	margin-bottom: 40px;
}

.leveys {
	width: 150px;
}

.eka {
	margin-top: 0;
}

.navbar {
    margin-bottom: 0;
    background-color:#47d147;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-brand {
    letter-spacing: 4px;
}

.nav-justified li a {
    letter-spacing: 2px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color:black !important;
}

.navbar-default .navbar-text{
    color: white;
}

.eka, .toka, .kolmas, .neljas, .viides, .kuudes, .seitsemas {
	border: 0;
	background: transparent;
	width: 100%;
}